.dial-congress {
  background: #ffffce;
  color: #222233;
  cursor: pointer;
}

.dial-congress-tooltipster-content {
  position: relative;
}

.dial-congress-tooltipster-img {
  background-size: cover;
  height: 18px;
  left: 50%;
  margin-left: -7px;
  opacity: .25;
  position: absolute;
  top: 0;
  width: 18px;
}

.dial-congress-tooltipster-head::after {
  content: "";
  display: table;
  clear: both;
}

.dial-congress-tooltipster-head {
  color: #666;
  font-size: 11px;
  padding: 2px 2px 0;
  text-transform: uppercase;
}

.dial-congress-tooltipster-affiliation,
.dial-congress-tooltipster-house {
  display: block;
}

.dial-congress-tooltipster-house {
  float: left;
}

.dial-congress-tooltipster-affiliation {
  float: right;
}

.dial-congress-tooltipster-party-dem {
  color: #3366ff;
}

.dial-congress-tooltipster-party-rep {
  color: #ff4e41;
}

.dial-congress-tooltipster-divider {
  color: #ccc;
}

.dial-congress-tooltipster-body {
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0 5px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
  font-family: Verdana, Arial, sans-serif;
}
